/*
# -*- encoding: utf-8 -*-
##############################################################################
#
#    Samples module for Odoo 8 Backend Theme
#    Copyright (c) 2015 Antiun Ingeniería S.L. (http://www.antiun.com)
#       Endika Iglesias <endikaig@antiun.com>
#       Antonio Espinosa <antonioea@antiun.com>
#       Daniel Góme-Zurita <danielgz@antiun.com>
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
##############################################################################
*/

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */


.openerp .oe_form_sheet_width {
    max-width: 95%;
}

.openerp .oe_leftbar {
    background-color: #fff;
    border-right: 1px solid #D1D1D1;
}

#oe_main_menu_navbar .oe_systray #oe_topbar_imbutton_icon,
#oe_main_menu_navbar .oe_systray #oe_attendance_sign_in_out_icon {
    color: white;
}

.openerp .oe_form header,
.openerp .oe_view_manager_current > .oe_view_manager_header {
    border-bottom: 1px solid #D1D1D1;
    background: #d4dae1;
    box-shadow: none;
}

.openerp .oe_horizontal_separator,
.openerp .oe_button.oe_link span,
.openerp .oe_application a,
.openerp .ui-widget-content a,
.openerp .oe_view_manager table.oe_view_manager_header h2 a,
.openerp .oe_secondary_menu_section {
    color: #1D559D;
}

.openerp .nav-pills > li.active > a,
.openerp a.list-group-item.active > a {
    background-color: #1D559D;
}

.openerp .nav-pills > li.active a:hover,
.openerp .nav-pills > li.active a:focus,
.openerp a.list-group-item.active a:hover,
.openerp a.list-group-item.active a:focus {
    background-color: #446b9d;
}

.navbar-inverse {
    background-color: #1D559D;
    border-color: #D1D1D1;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border-color: #D1D1D1;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
    line-height: 21px !important;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #093B6D;  
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: white;
    background-color: #093B6D;
}

.openerp .nav-pills li > a{
    color: black;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

/*----------Customization---------------*/


/*------------LEFT--NAVBAR--Modification---------------*/

.openerp .oe_leftbar {
  display: none;
  width: 220px;
  background: #262633 !important;
  border-right: 1px solid #afafb6;
  text-shadow: none;
}

.openerp .oe_secondary_menu_section {
    color: #f0f0fa !important;
}

.openerp .oe_secondary_menu_section:hover {
    background-color: #fcb421 !important;
    color: #f0f0fa !important;
}
/*--------LEFT--NAVBAR------Hover--Gray to light orange---------------------*/

.nav > li > a:hover, .nav > li > a:focus {
    background-color: #fcb421 !important;
    color: #272733 !important;
}

/*------------TOP--NAVBAR--Modification---------------*/

.openerp .nav-pills li > a {
    color: #cacaca !important;

}


.openerp button.oe_dropdown_toggle, .openerp button.oe_highlight {
    color: #333!important;
    background: #cacaca!important;
    border: none!important;
    padding: 5px 10px!important;
    text-shadow: none!important;
    box-shadow: none!important;
}


.openerp .nav-pills > li.active > a, .openerp a.list-group-item.active > a {
    background-color: #f7813a;
    color: #272733 !important;

}



/*--------TOP-NAV--MENU-----Background--color--fixing-BLUE TO BLACK-----------*/

#oe_main_menu_navbar, #oe_main_menu_navbar{
    color: white;
    background: #4c4c4c; /* Old browsers */
    background: -moz-linear-gradient(top, #4c4c4c 0%, #595959 13%, #111111 38%, #111111 38%, #111111 48%, #111111 53%, #111111 60%, #1c1c1c 70%, #474747 90%, #474747 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #4c4c4c 0%,#595959 13%,#111111 38%,#111111 38%,#111111 48%,#111111 53%,#111111 60%,#1c1c1c 70%,#474747 90%,#474747 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #4c4c4c 0%,#595959 13%,#111111 38%,#111111 38%,#111111 48%,#111111 53%,#111111 60%,#1c1c1c 70%,#474747 90%,#474747 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#474747',GradientType=0 ); /* IE6-9 */
}

/*----------TOP-NAV--MENU---LEFT--MENU--Toggle button background color fix------------*/

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px !important;
    padding-top: 16px !important;
    margin-right: 15px;
    padding-bottom: 16px !important;
    margin: 0 15px 0 !important;
    /* background-color: transparent; */
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background: #4c4c4c; /* Old browsers */
    background: -moz-linear-gradient(top, #4c4c4c 0%, #595959 13%, #111111 38%, #111111 38%, #111111 48%, #111111 53%, #111111 60%, #1c1c1c 70%, #474747 90%, #474747 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #4c4c4c 0%,#595959 13%,#111111 38%,#111111 38%,#111111 48%,#111111 53%,#111111 60%,#1c1c1c 70%,#474747 90%,#474747 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #4c4c4c 0%,#595959 13%,#111111 38%,#111111 38%,#111111 48%,#111111 53%,#111111 60%,#1c1c1c 70%,#474747 90%,#474747 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#474747',GradientType=0 ); /* IE6-9 */
}

.navbar-header {
    /*padding: 5px 8px 6px 10px;*/
    margin-top: 0px !important;
    font-size: 16px !important;
    color: white;
    background: #4c4c4c; /* Old browsers */
    background: -moz-linear-gradient(top, #4c4c4c 0%, #595959 13%, #111111 38%, #111111 38%, #111111 48%, #111111 53%, #111111 60%, #1c1c1c 70%, #474747 90%, #474747 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #4c4c4c 0%,#595959 13%,#111111 38%,#111111 38%,#111111 48%,#111111 53%,#111111 60%,#1c1c1c 70%,#474747 90%,#474747 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #4c4c4c 0%,#595959 13%,#111111 38%,#111111 38%,#111111 48%,#111111 53%,#111111 60%,#1c1c1c 70%,#474747 90%,#474747 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#474747',GradientType=0 ); /* IE6-9 */
}


.navbar-header :hover {
    background: #fcb421 !important; /* Old browsers */
    color: #f0f0fa !important;

}
/*------------TOP-NAV--MENU-BUTTON--LIKE--Look--IN----------------*/

#oe_main_menu_navbar li a, #oe_main_menu_navbar li button {
    padding: 10px 8px 10px 10px;
    margin-top: 0px !important;
    font-size: 16px !important;
    color: white;
    background: #4c4c4c; /* Old browsers */
    background: -moz-linear-gradient(top, #4c4c4c 0%, #595959 13%, #111111 38%, #111111 38%, #111111 48%, #111111 53%, #111111 60%, #1c1c1c 70%, #474747 90%, #474747 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #4c4c4c 0%,#595959 13%,#111111 38%,#111111 38%,#111111 48%,#111111 53%,#111111 60%,#1c1c1c 70%,#474747 90%,#474747 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #4c4c4c 0%,#595959 13%,#111111 38%,#111111 38%,#111111 48%,#111111 53%,#111111 60%,#1c1c1c 70%,#474747 90%,#474747 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#474747',GradientType=0 ); /* IE6-9 */

}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    background: #efb262 !important; /* Old browsers */
    background: -moz-linear-gradient(top, #efb262 0%, #f17421 34%, #f17421 74%, #efb262 96%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #efb262 0%,#f17421 34%,#f17421 74%,#efb262 96%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #efb262 0%,#f17421 34%,#f17421 74%,#efb262 96%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efb262', endColorstr='#efb262',GradientType=0 ) !important; /* IE6-9 */
}
/*------------TAB---------------*/

.openerp .oe_notebook > li > a {
    display: block;
    color: #808080;
    background-color: #80808045 !important;
}


.openerp .oe_notebook > li.ui-tabs-active > a {
    color: #4c4c4c;
    background-color: #ecb22ed1 !important
}




