h3 {
  text-align: center;
}

.title h4{
  color: whitesmoke;
  font-size: 18px;
  padding-top: 10px;
}

.dashboard {
  width: auto;
  height: auto;
  color: white;
  font-size: 15px;
  margin-left:15px;
}

.col-md-8 {
  text-align: left;
}

.col-md-4 {
  text-align: right;
}

.column {
    float: left;
    width: 24%;
    border-radius: 8px;
    border: 1px solid #D9D9D9;
    padding-bottom: 30px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the four columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}