body {
    background: #f8f9fa;
}
/*========= Create Class =========*/
.mr-make-10 {
    margin-right: 10px;
}
.make-right {
    text-align: right;
}
.make-display {
    position: relative;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: middle;
}
/* ========== OVERRIDE Apexcharts CSS start ======= */
.apexcharts-legend {
    padding: 0 !important;
    margin-bottom: 5px;
}
/*====== Loader ====== */
 .loading-mask {
        position: fixed;
        z-index: 99;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0,0,0,0.8);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* loader spanier*/
    .lds-spinner {
        color: #EF7722;
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
    }
    .lds-spinner div {
        transform-origin: 40px 40px;
        animation: lds-spinner 1.2s linear infinite;
    }
    .lds-spinner div:after {
        content: " ";
        display: block;
        position: absolute;
        top: 3px;
        left: 37px;
        width: 6px;
        height: 18px;
        border-radius: 20%;
        background: #fff;
    }
    .lds-spinner div:nth-child(1) {
        transform: rotate(0deg);
        animation-delay: -1.1s;
    }
    .lds-spinner div:nth-child(2) {
        transform: rotate(30deg);
        animation-delay: -1s;
    }
    .lds-spinner div:nth-child(3) {
        transform: rotate(60deg);
        animation-delay: -0.9s;
    }
    .lds-spinner div:nth-child(4) {
        transform: rotate(90deg);
        animation-delay: -0.8s;
    }
    .lds-spinner div:nth-child(5) {
        transform: rotate(120deg);
        animation-delay: -0.7s;
    }
    .lds-spinner div:nth-child(6) {
        transform: rotate(150deg);
        animation-delay: -0.6s;
    }
    .lds-spinner div:nth-child(7) {
        transform: rotate(180deg);
        animation-delay: -0.5s;
    }
    .lds-spinner div:nth-child(8) {
        transform: rotate(210deg);
        animation-delay: -0.4s;
    }
    .lds-spinner div:nth-child(9) {
        transform: rotate(240deg);
        animation-delay: -0.3s;
    }
    .lds-spinner div:nth-child(10) {
        transform: rotate(270deg);
        animation-delay: -0.2s;
    }
    .lds-spinner div:nth-child(11) {
        transform: rotate(300deg);
        animation-delay: -0.1s;
    }
    .lds-spinner div:nth-child(12) {
        transform: rotate(330deg);
        animation-delay: 0s;
    }
    @keyframes lds-spinner {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }

 /*====== SINGLE Loader ====== */
 .single-loading-mask {
        position: absolute;
        z-index: 99;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255,255,255,0.8);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* loader spanier*/
    .singleloader-spinner {
        color: #EF7722;
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
    }
    .singleloader-spinner div {
        transform-origin: 40px 40px;
        animation: singleloader-spinner 1.2s linear infinite;
    }
    .singleloader-spinner div:after {
        content: " ";
        display: block;
        position: absolute;
        top: 3px;
        left: 37px;
        width: 6px;
        height: 18px;
        border-radius: 20%;
        background: #000;
    }
    .singleloader-spinner div:nth-child(1) {
        transform: rotate(0deg);
        animation-delay: -1.1s;
    }
    .singleloader-spinner div:nth-child(2) {
        transform: rotate(30deg);
        animation-delay: -1s;
    }
    .singleloader-spinner div:nth-child(3) {
        transform: rotate(60deg);
        animation-delay: -0.9s;
    }
    .singleloader-spinner div:nth-child(4) {
        transform: rotate(90deg);
        animation-delay: -0.8s;
    }
    .singleloader-spinner div:nth-child(5) {
        transform: rotate(120deg);
        animation-delay: -0.7s;
    }
    .singleloader-spinner div:nth-child(6) {
        transform: rotate(150deg);
        animation-delay: -0.6s;
    }
    .singleloader-spinner div:nth-child(7) {
        transform: rotate(180deg);
        animation-delay: -0.5s;
    }
    .singleloader-spinner div:nth-child(8) {
        transform: rotate(210deg);
        animation-delay: -0.4s;
    }
    .singleloader-spinner div:nth-child(9) {
        transform: rotate(240deg);
        animation-delay: -0.3s;
    }
    .singleloader-spinner div:nth-child(10) {
        transform: rotate(270deg);
        animation-delay: -0.2s;
    }
    .singleloader-spinner div:nth-child(11) {
        transform: rotate(300deg);
        animation-delay: -0.1s;
    }
    .singleloader-spinner div:nth-child(12) {
        transform: rotate(330deg);
        animation-delay: 0s;
    }
    @keyframes singleloader-spinner {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
.hide-loader {
    display: none;
}
.apexcharts-legend-series {
    text-align: left;
}
.v-bility {
    visibility: hidden;
}
/* ========== Header Css  ======= */
.header {
    border-bottom: 1px solid #e0e0e0;
    box-shadow: 0 3px 0 rgba(0,0,0,0.04);
}
.navbar-brand {
    font-size: 2rem;
}
.navbar-brand span.date-content {
  font-size: 1rem;
    display: block;
}

#search-by-date {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
}
.btn-sin-search {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
}
.input-group.date .input-group-addon {
    cursor: pointer;
}
.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.input-group-addon, .input-group-btn {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
}
.input-group-addon, .input-group-btn, .input-group .form-control {
    display: table-cell;
}
.input-group-addon:last-child {
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.calendar-icon {
    position: relative;
    top: 1px;
    display: inline-block;
}
.date-cursor {
    cursor: pointer;
}
.input-group-addon, .input-group-btn {
    width: 20%;
}
.input-group-addon {
    font-size: 20px;
}
button#refresh-icon {
    border: none;
    background: none;
}
.description p {
    padding: 10px;
    font-size: 12px;
}
/*=============== Card Overall ===== */
.info-box {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    height: 80px;
    display: flex;
    cursor: default;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}
.info-box.hover-expand-effect:after {
    background-color: rgba(0, 0, 0, 0.05);
    content: ".";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    color: transparent;
    -moz-transition: all 0.95s;
    -o-transition: all 0.95s;
    -webkit-transition: all 0.95s;
    transition: all 0.95s;
}
.info-box.hover-expand-effect:hover:after {
    width: 100%;
}
.bg-pink {
    background-color: #E91E63 !important;
    color: #fff;
}
.bg-cyan {
    background-color: #00BCD4 !important;
    color: #fff;
}
.bg-light-green {
    background-color: #8BC34A !important;
    color: #fff;
}
.bg-orange {
    background-color: #FF9800 !important;
    color: #fff;
}
.bg-teal {
    background-color: #009688 !important;
    color: #fff;
}
.bg-pumkin {
    background-color: #d35400 !important;
    color: #fff;
}

.info-box .icon {
    display: inline-block;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.12);
    width: 50px;
    padding: 0 5px;
}
.info-box .icon i {
    color: #fff;
    font-size: 1.5rem;
    line-height: 80px;
}
.info-box .content {
    display: inline-block;
    padding: 7px 10px;
}
.info-box .content .text {
    font-size: .65rem;
    margin-top: 11px;
    color: #fff;
}
.info-box .content .number {
    font-weight: normal;
    font-size: 26px;
    margin-top: -4px;
    color: #fff;
}
/* ======= chart Title Color ========== */
.sales-title {

}
.invoice-title {

}
.refund-title {

}
.net-invoice-title {

}
.card-body p {
    margin-bottom: 0;
}
/* btn line hight */
.btn-line-hight {
    line-height: 2.2;
    margin-top: 10px;
}
/* ======= chart Sales ========== */
.chart-height {
    min-height: 422px;
}
.chart-sales {
    background: #ffffff;
    border: 1px solid #DFE3E7;
    position: relative;
    padding-bottom: 15px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 20px 0px;
}
.chart-sales .button-vertical {
    /*
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    */
}
.chart-h-title {
    padding: 10px;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
}
.chart-box {
    border: 1px solid #DFE3E7;
    border-radius: 10px;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow: 0px 1px 22px -12px #607D8B; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
.donut-height {
    height: 350px;
}
/* ======= chart Trend ========== */
.chart-trend {
    background: #ffffff;
    border: 1px solid #DFE3E7;
    position: relative;
    padding-bottom: 15px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 20px 0px;
}

/* ======= chart turn-over-time ========== */
.chart-turn-over-time {
    background: #ffffff;
    border: 1px solid #DFE3E7;
    position: relative;
    padding-bottom: 15px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 20px 0px;
}

/* ======= chart processing ========== */
.chart-processing {
    background: #ffffff;
    border: 1px solid #DFE3E7;
    position: relative;
    padding-bottom: 15px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 20px 0px;
}
.chart-processing a.ext-link {
    color: #212529;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
}
.chart-processing a.ext-link.link-green:hover {
    color: rgb(0, 153, 0);
    text-decoration: underline;
}
.chart-processing a.ext-link.link-yellow:hover {
    color: rgb(255, 204, 0);
    text-decoration: underline;
}
.chart-processing a.ext-link.link-red:hover {
    color: rgb(255, 0, 0);
    text-decoration: underline;
}
.chart-processing a.ext-link span.link-legend-marker-green {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-right: 3px;
    border-style: solid;
    background: rgb(0, 153, 0);
    color: rgb(0, 153, 0);
    height: 12px;
    width: 12px;
    left: 0px;
    top: 0px;
    border-width: 0px;
    border-color: rgb(255, 255, 255);
    border-radius: 12px;
}
.chart-processing a.ext-link span.link-legend-marker-yellow {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-right: 3px;
    border-style: solid;
    background: rgb(255, 204, 0);
    color: rgb(255, 204, 0);
    height: 12px;
    width: 12px;
    left: 0px;
    top: 0px;
    border-width: 0px;
    border-color: rgb(255, 255, 255);
    border-radius: 12px;
}
.chart-processing a.ext-link span.link-legend-marker-red {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-right: 3px;
    border-style: solid;
    background: rgb(255, 0, 0);
    color: rgb(255, 0, 0);
    height: 12px;
    width: 12px;
    left: 0px;
    top: 0px;
    border-width: 0px;
    border-color: rgb(255, 255, 255);
    border-radius: 12px;
}

/* ======= retail-data-table ==== */
.retail-data-table {
    font-size: 12px;
}
/*======= Wearhouse Dashboard =========== */

.warehouse_chart .card-shadow {
    -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.warehouse_chart .info-box .content {
    display: inline-block;
    padding: 7px 15px;
    text-align: center;
}
.warehouse_chart .info-box {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    height: auto;
    display: flex;
    cursor: default;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
    justify-content: center;
}
.warehouse_chart .info-box .content .text {
    font-size: 30px;
    margin-top: 11px;
    color: #fff;
}
.warehouse_chart .info-box .content .number {
    font-size: 80px;
    font-weight: 700;
    margin-top: -4px;
    color: #fff;
}

/*.warehouse_chart .thumbnail {
    background: #fff;
    border: 1px solid #e7e7e7;
    border-radius: 3px;
}*/

/*.dropshadow {

    -webkit-box-shadow: 0 6px 14px 0 rgba(33,35,68,.05)!important;  !* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ *!
    -moz-box-shadow:0 6px 14px 0 rgba(33,35,68,.05)!important;
    box-shadow: 0 6px 14px 0 rgba(33,35,68,.05)!important;
}*/
.warehouse_chart .thumb-chart {
    text-align: center;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

/*#funnel {
    width: 300px;
    height: 400px;
    margin: 0px auto;
}*/

/* ======= Responsive Media Query ========== */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .make-display {
    position: relative;
    display: block;
    vertical-align: middle;
   }
    .make-right {
    text-align: center;
    }
    .navbar-brand {
      font-size: 1.5rem;
     }
    .chart-m-title {
        text-align: center !important;
        font-size: 1.5rem;
        padding-bottom: 0 !important;
    }
    .mob-text-center {
       text-align: center;
    }
    .chart-m-button {
        text-align: center !important;
    }
    .button-vertical {
       margin-bottom: 10px !important;
    }
    /* btn line hight */
    .btn-line-hight {
        margin-top: 0;
    }
    .chart-box {
        margin-bottom: 24px;
    }
    #datepickerdate , #datepickerto {
        margin-bottom: 1rem;
    }
    .chart-processing a.ext-link {
       font-size: .8rem;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
 .chart-box {
        margin-bottom: 24px;
    }
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {}
