<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">SMS Notification</h2>
            <h3 class="oe_slogan">This application Sends SMS Notificaton To Mobile</h3>
            <div class="oe_row oe_spaced">                
                <div class="oe_span6">
                    <div class="oe_demo oe_picture oe_screenshot">
                        <img src="sms1.png" >
                    </div>
                </div>
                <div class="oe_span6">
                    <p><h4>
                        This application provide facility to send SMS notification to the mobile number.For sending sms this application required a "SMS Gateway".
                    </h4></p>

                    <p><h4>
                        This is a base module for any sms gateway(like:Twilio Gateway).
                    </h4></p>

                    <p><h4>
                        Also provide the SMS history faciltiy.
                    </h4></p>
                    <p><h4>
                        SMS notification will send using SMS gateway along with email.
                    </h4></p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="oe_container oe_dark">
    <div class="oe_row">
        <div class="oe_slogan">
            <p class='oe_mt32'>
                After installation of this application below shown menu will appear.
            </p>
        </div>
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="sms2.png">
            </div>            
        </div>
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="sms3.png">
            </div>            
        </div>        
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_slogan">
            <p class='oe_mt32'>
               <h3>How to install required sms gateway.</h3>
            </p>
        </div>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="sms4.png">
        </div>            
    </div>
</section>
<section class="oe_container oe_dark">
    <div class="oe_row">
        <div class="oe_slogan">
            <p class='oe_mt32'>
                <h3>How to configure intalled sms gateway(way 1).</h3>
            </p>
        </div>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="sms5.png">
        </div>            
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_slogan">
            <p class='oe_mt32'>
                <h3>How to configure intalled sms gateway(way 2).</h3>
            </p>
        </div>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="sms6.png">
        </div>            
    </div>
</section>
<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_slogan">
            <p class='oe_mt32'>
              This module required one SMS gateway(e.g. Twilio Gateway).
            </p>
        </div>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="sms7.png">           
        </div>
    </div>
</section>
<section class="oe_container ">
    <div class="oe_row oe_spaced">
        <div class="oe_slogan">
            <p class='oe_mt32'>
                Finally fill all the details(after installing one sms gateway) and save it.
            </p>

        </div>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="sms8.png">
        </div>  
        <h5 class="oe_slogan"> Above sms is taken after installing twilio gateway</h5>          
    </div>
</section>

<section class="oe_container oe_dark">
    <div class='oe_row'>
        <div class="oe_span12">
            <h2 class='oe_slogan'>Complimentary Support</h2>
            <p>
            You will get 90 days free support for any doubt, queries, and bug fixing (not including data recovery) or any type of issue related to this module.
            </p>
        </div>
    </div>
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Help and Support</h2>
        </div>
        <div class="oe_slogan oe_spaced">
            <img src="icon-help.png">
            <span ><a onMouseOver="this.style.color='#AC1EE0'"
   onMouseOut="this.style.color='#7c7bad'" style="color:#7c7bad;" target="_blank" href="http://webkul.uvdesk.com/en/customer/create-ticket/">Help</a></span>
            <img src="icon-support.png">
            <span ><a onMouseOver="this.style.color='#AC1EE0'"
   onMouseOut="this.style.color='#7c7bad'" style="color:#7c7bad;" target="_blank" href="http://webkul.uvdesk.com/en/customer/create-ticket/">Support</a></span>
            <img src="icon-features.png">
            <span ><a onMouseOver="this.style.color='#AC1EE0'"
   onMouseOut="this.style.color='#7c7bad'" style="color:#7c7bad;" target="_blank" href="http://webkul.uvdesk.com/en/customer/create-ticket/">Request new Features</a></span>
        </div>
    </div>
</section>

