html,body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.428571429;
  color: #333333;
}

#chart-container {
  position: absolute;
  display: inline-block;
  text-align: center;
  height: 100%;
}

.search_button {
    background-color: #F2EEEE;
    color: #372f2f;
    padding: 8px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid #b3b3b3;
}

.search_button:hover {
  background-color: #4680af;
  color: white;
}